<div class="header">
  <ul class="nav nav-pills float-right" role="tablist">
    <li class="nav-item" role="presentation" id="home">
      <a class="nav-link" [ngClass]="{'active': route === 'home'}" [routerLink]="['/']">Home</a></li>
    <li  class="nav-item"  role="presentation" id="about">
      <a class="nav-link" [ngClass]="{'active': route === '/about'}"  [routerLink]="['/about']">About</a></li>
    <li  class="nav-item" role="presentation" id="contact" 
    ><a class="nav-link" [ngClass]="{'active': route === '/contact'}"  [routerLink]="['/contact']">Contact</a></li>
  </ul>
  <h3 class="text-muted">E2E Testing: Docker & Geb</h3>
</div>

<div class="jumbotron">
  <router-outlet></router-outlet>
  </div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4><fa-icon [icon]="faCoffee"></fa-icon> JUG Time!</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
  </div>
</div>

<div class="footer">
  <p>&copy; <a href="https://www.karakun.com">Markus Schlichting, Karakun AG</a> 2019</p>
</div>
